# 毎日投稿する時刻。24時間表記で指定します。
POST_TIME=09:00

# X API v2
X_API_KEY=
X_API_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_TOKEN_SECRET=
X_Account=dizital_zakki 
X_Password=aA02245731
# Instagram Graph API
META_GRAPH_API_VERSION=v24.0
INSTAGRAM_USER_ID=
INSTAGRAM_ACCESS_TOKEN=

# Threads API
THREADS_USER_ID=
THREADS_ACCESS_TOKEN=
